<div class="container">
<span style="color:red"></span>
<form>
<div class="form-group">
Enter job title 
<input type="text" placeholder="Enter jobtitle" ng-model="job.jobTitle" class="form-control" required>
</div>

<div class="form-group">
Enter job description
<input type="text" placeholder="Enter job description" ng-model="job.jobDescription" class="form-control">
</div>

<div class="form-group">
Enter skills Required 
<input type="text" placeholder="Enter skills" ng-model="job.skillRequired" class="form-control">
</div>

<div class="form-group">
Enter location 
<input type="text" placeholder="Enter location" ng-model="job.location" class="form-control">
</div>

<div class="form-group">
Enter salary
<input type="text" placeholder="Enter salary" ng-model="job.salary" class="form-control">
</div>

<div class="form-group">
Enter companyName 
<input type="text" placeholder="Enter companyName" ng-model="job.companyName" class="form-control">
</div>

<div class="form-group">
Enter years of experience 
<input type="text" placeholder="Enter yrsOfExp" ng-model="job.yrsOfExp" class="form-control">
</div>
<div class="form-group">
<input type="submit" ng-click="saveJob()" >
</div>
</form>
</div>











